@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

.navbar {
    margin: 0; 
    padding: 0; 
    background-color: #ac8dd3 !important; 
    border-radius: 30px; 
    height: 70px; 
}

.navbarBrand {
    font-family: 'Galada', cursive;
    font-style: italic;
    margin-left: 80px; 
}

.navbar-nav {
    display: flex; 
    align-items: center; 
    gap: 30px; 
}

.nav-link {
    color: white; 
    padding: 15px; 
    margin-right: 70px; /* مسافة إضافية بين العناصر */
}

.fa-cart-shopping {
    margin-left: 40px; 
    font-size: 1.5rem;
    color: white;
}

.dropdown-menu {
    margin-top: 10px; /* تعديل المسافة بين القائمة والعناصر الأخرى */
}
